<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
   
    <!-- <%=  %> is a ejs marker that have a variable that will be updated with its current value -->
    <h1>It's a <%=kindOfDay%>!</h1>    
   
</body>
</html>